body {
   margin: 0;
   font-family: IBM Plex Sans, sans-serif;
   background-image: url("../images/6.jpg");
   background-size: 100% 100%;
   background-position: center center;
   background-repeat: no-repeat;
   height: 100%;
   min-height: 100vh;
   margin-left: 20px;
   }
   a:visited {color: rgb(150, 231, 227);}
	a:link {color: rgb(232, 233, 175);}
   a:active {color: ivory;}
   
   a[href="#skills"] {
      background: rgb(240, 203, 233);
      border-radius: 10px;
      box-shadow: 1px 1px 5px #4511ad;
      padding: 5px;
      border: 1px solid #fff;
      color: #34186b;
      text-decoration: none;
      letter-spacing: 1px;
      text-shadow: 1px 1px 3px rgb(184, 131, 184);
   }
   a[href="#job"] {
      background: rgb(240, 203, 233);
      border-radius: 10px;
      box-shadow: 1px 1px 5px #4511ad;
      padding: 5px;
      border: 1px solid #fff;
      color: #34186b;
      text-decoration: none;
      letter-spacing: 1px;
      text-shadow: 1px 1px 3px rgb(184, 131, 184);
   }
   a[href="#education"] {
      background: rgb(240, 203, 233);
      border-radius: 10px;
      box-shadow: 1px 1px 5px #4511ad;
      padding: 5px;
      border: 1px solid #fff;
      color: #34186b;
      text-decoration: none;
      letter-spacing: 1px;
      text-shadow: 1px 1px 3px rgb(184, 131, 184);
   }
   a[href="#about"] {
      background: rgb(240, 203, 233);
      border-radius: 10px;
      box-shadow: 1px 1px 5px #4511ad;
      padding: 5px;
      border: 1px solid #fff;
      color: #34186b;
      text-decoration: none;
      letter-spacing: 1px;
      text-shadow: 1px 1px 3px rgb(184, 131, 184);  
   }
   .header {
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid grey;
      flex: 0;
   }
.title {
   color: burlywood;
   font-family: Lora, serif;
}
.subtitle {
   color: burlywood;
}
a:hover {
   color: rgb(155, 102, 137);
}
a:active {
background: #5e5373;
border-color: #fff;
box-shadow: inset 0 0 5px #fff;
}
h2:hover {
   color: gray;
}
h1 {
   display: flex;
   justify-content: center;
   margin-right: 330px;
   margin-left: 330px;
}
h1:hover {
   border-radius: 10px;
   color: grey;
   box-shadow: 0 5px 0 px #3c354a;
   transition-duration: 1s;
   background-color: #5e5373;
}
.img {
   border: 1px solid rgb(156, 98, 142);
   width: 150;
   height: 300;
   margin-left: 30px;
   border-radius: 10px ;
}
.contacts-item {
display: flex;
align-items: center;
}
.contacts-icon {
margin-right: 20px ;
margin-left: 10px;
}
.work {
   color: rgb(240, 160, 95);
}
.list {
   color: rgb(212, 191, 173);
}
.list-item {
   color: pink
}
.main {
   margin: 0 auto;
   padding-top: 20px;
}
.footer {
   border-top: 1px solid gray;
   padding: 20px ;
   text-align: center;
   color: rgb(194, 178, 178);
}